[Unit]
After=network.target

[Service]
ExecStart={{dir_path}}/start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ app.name }}
Environment=NODE_ENV=production
#TODO fix root access
User=root


[Install]
WantedBy=default.target
